.masthead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.masthead .item {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }



.masthead__menu,
.masthead__search, 
.masthead__cog {
    display: inline-block;
    font-size: 11px;
    padding: 7px 9px;
    
}


.masthead__menu-and-search{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    
}


.masthead__menu:hover,
.masthead__seach:hover,
.masthead__cog:hover {
  background-color: #f7f7f5;
}

.masthead__actions{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;

}

.masthead__technologies{
    grid-row: 2;
    grid-column: 2;
}

.masthead__date{
    grid-row: 3;
    grid-column: 1;
}

.masthead__logo{
    grid-row: 3;
    grid-column: 2;
}

.masthead__paper{
    grid-row: 3;
    grid-column: 3;
}